.search-row {
    padding: 20px;

    select {}

    .searchbar {
        border: none;
        padding: 0.7rem;
        border-radius: 4px;
        width: 23vw;

        &::placeholder {
            font-size: 0.7rem;
        }

        &:hover,
        &:focus {
            outline: none;
        }
    }


}

.seatch-icon {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 15px;
    left: 15px;
}

.countries-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); // 4 columns per row
    gap: 1.5rem;

    @media (max-width: 1024px) {
        grid-template-columns: repeat(3, 1fr); // 3 columns on medium screens
    }

    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr); // 2 columns on small screens
    }

    @media (max-width: 640px) {
        grid-template-columns: 1fr; // 1 column on extra small screens
    }
}

.region-select {

    padding: 0.7rem;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 150px; // Adjust as needed

    &:focus {
        outline: none;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
    }

    option {
        padding: 0.5rem 1rem;

    }
}